@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: The Rivers Regular;
  src: url('/fonts/The Rivers Regular.ttf') format('truetype');
}

@font-face {
  font-family: Dida;
  src: url('/fonts/Dida.otf') format('opentype')
}
/* 
html {
  width: '110vw';
} */

.test-clip {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

/* .ball {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid dodgerblue;
  border-radius: 50%;
  pointer-events: none;
} */


/* Blinking cursor animation */
@keyframes blink {
  0%, 50%, 100% {
    border-color: transparent; /* Hide the cursor */
  }
  25%, 75% {
    border-color: white; /* Display the cursor */
  }
}


.blink-styles {
  border-right: 2px solid; /* Border for the cursor */
  padding-right: 5px; /* Adjust the padding to control the blinking speed of the cursor */
  animation: blink 1.5s step-end infinite; /* Apply the blinking animation */
}